* {
    max-width: 100%;
    margin: 0;
}

body {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

label {
    color: #0D1440;
}

h1,
h2,
h3 {
    font-weight: 900;
}

#navbarNavDropdown {
    margin-left: 2rem;
}


/* Utilidades */

.btn-color {
    background-color: #0D1440;
    color: #ffffff;
    border: none;
    font-size: 1.3rem;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.btn-color:hover {
    cursor: pointer;
    background-color: #1438A6;
    color: #ffffff;
}

.btn-invi {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border: none;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}


/* Index */

.navbar {
    padding: 1rem;
}

nav img {
    width: 80%;
}

@media only screen and (max-width: 992px) {
    nav img {
        width: 130%;
    }
}

@media only screen and (max-width: 575px) {
    nav img {
        width: 60%;
    }
}

.bg-nav {
    background-color: #1438A6;
}

nav a {
    color: #ffffff !important;
    text-decoration: none;
}

nav a:hover {
    color: #c9c9c9 !important;
}

.bg-ind {
    background-image: url(../img/index-img.jpg);
    height: 500px;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-toggle:hover {
    color: #c9c9c9;
}

.dropdown-item:hover {
    background-color: #1A4AD9 !important;
    color: #ffffff;
    text-decoration: none;
}

.dropdown-menu a {
    text-decoration: none;
}


/* Tarjetas conocenos */

.tar-img {
    padding: 3rem 3rem 1rem 3rem;
}

.tarjetas h3 {
    font-weight: 900;
    text-align: center;
    color: #0D1440;
    font-size: 1.8rem;
    margin-top: 0.5rem;
}

.tarjetas p {
    text-align: justify;
    font-size: 0.8;
}


/* Footer */

.footer {
    padding: 2rem;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #9d9d9d;
    background-color: #ffffff;
}

.redes i {
    color: #4D4D4D;
    font-size: 2rem;
}

.redes i:hover {
    color: #1A4AD9;
    font-size: 2.2rem;
}

.contac a {
    text-decoration: none;
    color: #4D4D4D;
}

.contac a:hover {
    color: #1438A6;
    text-decoration: none;
}

.copy {
    color: #4D4D4D;
}


/* Servicios */

.contenedor-servicios {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10vh auto 10vh auto;
}

.contenedor-servicios .card {
    width: 16rem;
    height: 22rem;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.contenedor-servicios .card h2 {
    margin: 1rem 0 1rem 0;
}

.contenedor-servicios .card:hover {
    transform: translate(0, -15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


/* Lavados */

.bg-tipos {
    background-color: #1A4AD9;
    border-radius: 8px;
    color: #ffffff;
    padding: 1rem 5rem;
    margin: 2rem 0 3rem 0;
}


/* Formulario Vehiculo */

.bg-img {
    background-image: url(../img/bg-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.form-veh {
    /* width: 30%; */
    background-color: #ffffff;
    min-height: 100vh;
    padding: 2rem;
}

.logo {
    margin-bottom: 3rem;
}


/* Login */

.bg-login {
    background-image: url(../img/login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/* Estilos de los formularios de administrador*/

#sidebar-container {
    min-height: 100vh;
    background-color: #009A37;
}

#sidebar-container img {
    margin: 1.5rem 0 1rem 0;
    width: 100rem;
}

.formularios {
    width: 100%;
    margin-top: 2rem;
}

.conten-prin {
    width: 100%;
    margin: 0;
    align-items: center;
    align-content: center;
}

@media only screen and (max-width: 800px) {
    .navbar-enlaces {
        /* display: none !important; */
        font-size: 0.6rem;
        margin-top: 0.6rem !important;
    }
}

@media only screen and (max-width: 683px) {
    .navbar-enlaces {
        display: none !important;
    }
}

.logo2 {
    width: 100rem;
}

.tabla-admin {
    overflow: scroll;
    height: 20rem;
}

@media only screen and (max-width: 576px) {
    .stinky {
        margin: 5rem 0 2rem 0;
    }
}


/* Formulario de Mi_Perfil */

.bg-perfil {
    background-image: url(../img/perfil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/* Buscador */

.buscador img {
    background-color: #d6d6d6;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin: 0;
    cursor: default;
    margin-right: 0;
}

.boton-buscar {
    border-style: none;
    cursor: none;
    background-color: transparent;
}

.buscador {
    align-items: center;
    text-align: center;
    cursor: not-allowed;
    margin-right: 0;
    margin-bottom: 5rem;
    display: block;
}

.buscar {
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    border-style: none;
    background-color: #d6d6d6;
    box-sizing: inherit;
    align-items: center;
}


/* BUSCADOR RESPONSIVE*/


/* Diseño para celulares */

.buscador img {
    height: 4rem;
    padding: 1rem;
    vertical-align: -1.3rem;
}

.buscador {
    margin-top: 5rem;
}

.buscar {
    height: 4rem;
    width: 20rem;
    padding: 1rem;
    font-size: 2rem;
}


/* Diseño estandar */

@media screen and (min-width: 593px) {
    .buscador img {
        height: 5rem;
        padding: 1rem;
        vertical-align: -1.75rem;
    }
    .buscador {
        margin-top: 5rem;
    }
    .buscar {
        height: 5rem;
        width: 50rem;
        padding: 1rem;
        font-size: 2rem;
    }
}

.contenedor {
    max-width: 120rem;
    /* = 1200px; */
    margin: 0 auto;
    display: block;
    justify-content: center;
}